<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>请求详情 - OpenSandbox 审计</title>
  <script type="module" crossorigin src="/static/assets/details-WFrwLfew.js"></script>
  <link rel="modulepreload" crossorigin href="/static/assets/app-BP5VzJmv.js">
  <link rel="modulepreload" crossorigin href="/static/assets/index-Xg2YERPs.js">
  <link rel="stylesheet" crossorigin href="/static/assets/app-CvSyqZnn.css">
</head>
<body>
<div id="root"></div>
</body>
</html>
